---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ops.yusaozdemir.de
  resources:
  - resourceactions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ops.yusaozdemir.de
  resources:
  - resourceactions/finalizers
  verbs:
  - update
- apiGroups:
  - ops.yusaozdemir.de
  resources:
  - resourceactions/status
  verbs:
  - get
  - patch
  - update
